
:root.theme-light {
 --page-bg-image: url('/images/cover-image-light.png');
 --page-bg-color: #fff;
 --title-color: #FFC2E6;
 --accent-color: #FF8DCB;
 --decor-title-color:#353430;
 --decor-color: #353430;
 --text-color: #353430;
}