@import '../fonts/fonts.css';

.page {
  background-image: var(--page-bg-image);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-bg-color);
  min-height: 100vh;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: 10px; /*для мобилок*/
  margin-bottom: 40px; /*для мобилок*/
}

.rec-badge {
  color: var(--accent-color);
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  position: absolute;
  top: 10px; /*для мобилок*/
  right: 28px; /*для мобилок*/
  display: flex;
  align-items: center;
}

.rec-badge::after {
  content: '';
  position: relative;
  left: 10px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  color: var(--accent-color);
  border-radius: 50%; 
  box-shadow: 0 0 4px 2px var(--accent-color);
}

:root:is(.theme-light) .rec-badge {
  display: none;
}

.angles {
  position: relative;
}

.angles::before {
  content: '';
  position: absolute;
  top: 10px;  /*для мобилок*/
  right: 10px;  /*для мобилок*/
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  border-top-color: var(--decor-color);
  border-right-color: var(--decor-color);
  z-index: 1;
}

.angles::after {
  content: '';
  position: absolute;
  bottom: 10px;  /*для мобилок*/
  left: 10px;  /*для мобилок*/
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  border-bottom-color: var(--decor-color);
  border-left-color: var(--decor-color);
  z-index: 1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end; /*для мобилок и планшетов*/ 
  margin-top: 65px; /*для мобилок*/
}

.header__theme-menu-button {
  display: flex;
  min-height: 26px;
  color: var(--decor-color);
  background-color: transparent;
  border: 1px solid transparent;
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  padding-left: 13px;
  padding-right: 13px;
  text-align: center;
  
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
}

.title {
  align-self: center;
  width: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /*для мобилок*/
  color: var(--title-color);
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 116px; /*для мобилок*/
  line-height: 83%;
  letter-spacing: 0%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: var(--accent-color);
  align-self: start;
  color: var(--decor-title-color);
  margin-top: 20px; 
  width: 100%;
}
.not_bold {
  font-weight: 400;
}

.section_main {
  display: grid;
  padding-left: 10px;  /*для мобилок*/
  padding-right: 10px;  /*для мобилок*/
  margin-bottom: 50px; /*для мобилок*/
}

.section_main_content {
  display: flex;
  flex-direction: column; 
}

.section_title {
  background-color: transparent;
  color: var(--decor-color);
  font-family: 'IBM Plex mono', monospace;
  font-weight: 700; 
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.subsection_main_content {
  display: block;
}

.subsection_text {
  font-family: 'IBM Plex mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--text-color);
  margin-top: 10px;
}

.section_gallery {
  padding-left: 10px; /*для мобилок*/
  padding-right: 10px; /*для мобилок*/
  margin-bottom: 40px; /*для мобилок*/
  display: block;
}

.gallery-title {
  margin-bottom: 10px; /*для мобилок*/
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /*для мобилок*/
  width: 355px; /*для мобилок*/
  gap: 10px;  /*для мобилок*/
}

.gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex; 
  width: 100vw;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  justify-content: center;
}

.footer_title {
  width: fit-content;
}

@media (width >= 768px) {
  .header {
    padding: 0px; 
    margin-bottom: 60px; 
    padding-right: 20px;
  }

  .rec-badge {
    top: 20px; 
    right: 38px; 
  }

  .angles::before {
    top: 20px;  
    right: 20px;  
  }

  .angles::after {
    bottom: 20px;  
    left: 20px;  
  }

  .header__theme-menu-list {
    margin-top: 192px; 
  }

  .title {
    width: fit-content;
    font-size: 120px; 
  }

  .header .title-decor {
    max-width: calc(50vw - 20px);
    justify-self: end;
  }

  .section_main {
    display: grid;
    padding-left: 20px;  
    padding-right: 20px;  
    margin-bottom: 80px; 
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
  }

  .section_title {
    margin-top: 20px;
  }

  .section_main_alternative {
    display: block;
    margin-bottom: 60px;
  }

  .section_title_alternative {
    width: calc((100vw - 60px)/3);
  }

  .section_gallery {
    padding-left: 20px; 
    padding-right: 20px;
    margin-bottom: 60px; 
  }

  .gallery-title {
    margin-bottom: 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr; /*для планшетов и десктопов*/
    grid-template-rows: 26fr 31fr 43fr; /*для планшетов и десктопов*/
    width: 100%; 
    gap: 20px;
    grid-template-areas:        /*для планшетов и десктопов*/
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .image_sunset {
    grid-area: sunset;
  }

  .image_ice-cream {
    grid-area: ice-cream;
  }

  .image_tape {
    grid-area: tape;
  }

  .image_books {
    grid-area: books;
  }

  .image_street {
    grid-area: street;
  }

}

@media (width >= 1024px) {
  .header__theme-menu-list {
    margin-top: 20px; 
    flex-direction: row;
    gap: 10px;
    justify-self: center;  
  }

  .title {
    width: fit-content;
    font-size: 157px; 
  }

  .section_main_content_altenative {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}



