:root {
  --page-bg-image: url('/images/cover-image-dark.png');
  --page-bg-color: #000532;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-title-color:#000028;
  --decor-color: #FF0070;
  --text-color: #F1B2CE;
}